*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

    background-image:url(https://getwallpapers.com/wallpaper/full/a/8/d/525598.jpg)
}


header,section h2, form button{
    font-family: 'REM', sans-serif;
    font-weight: bold;

}

header{
    padding: 16px 0;
    background-color: black;
    color: red;
   
    
}


header nav li{
    display: inline;
    margin-left: 16px;
    font-size: 18px;
}

header li a {
    color: red;
    text-decoration: none;
   
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    
}

header .container,
section .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brands-list img {
   height:  24px;
   margin-right: 8px;
}

.brands-list li {
    display: inline;
}

section .container{
    align-items: flex-start;
}

section {
    padding: 24px;
    color: black;
}

section h2{
    margin-bottom: 16px;
    font-size: bold;
}

section p {
    margin-top: 8px;
}

.store-front {
    margin-right: 32px;
}

.social-links img {
    height: 68px;
    align-content: end;

}

.social-links li {
    display: inline;
    margin-right: 16px;
    
}

.social-links li a {
    text-decoration: none;
}

#contacts .container{
    display: block;
}

.contact-methods{
    display: flex;
    justify-content: space-between ;
}

form input,
form textarea,
form button {
    display: block;
    width: 320 px;
    margin-bottom: 8px;
    padding: 8px;
    cursor: pointer;
    color: white;
    background-color: black;

}

form textarea{
    resize: none;
    height: 180px;

}

section h3{
    margin-bottom: 16px;

}

form button{
    background-color: black;
    color:white;
    border: none;
    width: 320px;
    cursor: pointer;
    border-radius: 10px;

}

form button:hover{
    background-color: red;
}

 form input:focus{
    background-color:black;
 }





form input{
    width: 320px;
    
    
}

form textarea{
    width: 320px;
}

footer{
    background-color: black;
    color:red;
    padding: 16px 0;
    width: 100%;
    max-width: 1920px;
    

}

.milan-logo{
    border-radius: 10px;
    margin-right: 18px;
}

form textarea{
    border-radius: 10px;
    border-color: red;
}

form input{
    border-radius: 10px;
    border-color: red;
}

.contact-methods {
    margin-top: 24px;
}

section h3,
section h2{
    font: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

section p{
    font-weight: bold;
    font-size:larger;
}

.local {
    position: relative;
    width: 0;
    min-width: 825px;
    height:700px;
    text-align: right;
    float: right;
    margin-left:3.7%;
    margin-right:3.7%;
    padding-left:0.5%;
    padding-right:0.5%;
    position: absolute;
    right: 10px;
    bottom: 10px;
}


.social-links p {
    font-weight: bold;
    font-size: larger;
}